.buttons {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}
.button {
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 25px;
  font-weight: bold;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 50px 60px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 0.14s ease-out;
  white-space: nowrap;
  margin: 5px;
}
.button:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
  color: black;
}
.button:focus-visible {
  outline-offset: 1px;
  color: black;
}
.button:visited {
  color: black;
}
.button:link {
  color: black;
}
