.App {
  text-align: center;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
.App video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.logo {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
}
.main-sub {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 1281px) {
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .App-header {
    /* background-color: #9198a7; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    color: black;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .App-header {
    /* background-color: #9198a7; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    color: black;
  }
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .App-header {
    /* background-color: #9198a7; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    color: black;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .App-header {
    /* background-color: #9198a7; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    color: black;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .App-header {
    /* background-color: #9198a7; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    color: black;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .App-header {
    /* background-color: #9198a7; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    color: black;
  }
}
.button {
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 12px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 10px 13px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 0.14s ease-out;
  white-space: nowrap;
  margin: 5px;
}
.button:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
  color: black;
}
.button:focus-visible {
  outline-offset: 1px;
  color: black;
}
.button:visited {
  color: black;
}
.button:link {
  color: black;
}

.links:link {
  text-decoration: none;
  color: black;
}

.links:visited {
  text-decoration: none;
  color: black;
}

.links:hover {
  text-decoration: underline;
  color: black;
}

.links:active {
  text-decoration: underline;
  color: black;
}
